extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros")

            .col-md-7
                h1= pagina
                blockquote Sed ac rhoncus nibh. Nunc eu vestibulum est. Aliquam sed dignissim mi. Nunc suscipit lorem in cursus luctus. Praesent vitae vestibulum dolor, ut volutpat purus. Nulla tincidunt elit id ligula lacinia fringilla. Integer condimentum eleifend metus eget volutpat.
                p Proin nisl nisl, suscipit quis commodo nec, ultricies sit amet dui. Aliquam congue orci vel lectus interdum, nec mollis eros tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent cursus consectetur tincidunt. Curabitur fringilla varius auctor. Proin efficitur ligula odio. Quisque ac congue mauris. Vivamus hendrerit enim hendrerit diam tincidunt ultricies.
                p Suspendisse molestie molestie arcu, nec fermentum est volutpat sit amet. Nullam posuere lacus ipsum, eu congue enim iaculis a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh lorem, rutrum ac metus nec, rhoncus blandit est. Aenean cursus quam hendrerit lorem dictum mollis. Donec condimentum erat non sem tristique, sit amet finibus dui volutpat. Cras vitae risus eget felis porta accumsan nec a dui.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad").mx-auto.mb-4
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae eaque atque blanditiis non architecto.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos").mx-auto.mb-4
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae eaque atque blanditiis non architecto.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad").mx-auto.mb-4
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae eaque atque blanditiis non architecto.